/* Abstracts */ 
@import './abstracts/variables';
@import './abstracts/mixins';

/* Base */ 
@import './base/reset';
@import './base/typography';

/* Components */ 
@import './components/navbar';
@import './components/shopping-cart';
@import './components/slideshow';
@import './components/info';
@import './components/modal';

/* Layout */ 
@import './layout/layout'; // unsure whether to name this layout or general. 
@import './layout/header';
@import './layout/body'; // unsure whether to name this body or main (since this root css is typically called main.scss, and body refers to body{}. But i'm referring to main{} html element. 
@import './layout/footer';