/* Abstracts */ 
@import './abstracts/variables';
@import './abstracts/mixins';

/* Base */ 
@import './base/reset';
@import './base/typography';

/* Components */ 
@import './components/navbar';
@import './components/shopping-cart';
@import './components/slideshow';
@import './components/info';

/* Layout */ 
@import './layout/layout'; // unsure whether to name this layout or general. 
@import './layout/header';
@import './layout/body';
@import './layout/footer';




/* 
The original layout, in case anything messes up: 

@import '../layout/layout';

@import '../layout/header';

@import '../components/navbar';
@import '../components/shopping-cart';

@import '../layout/body';

@import '../components/slideshow';
@import '../components/info';

@import '../layout/footer';

*/ 





/* Cart + and - Buttons, need to have bg: white, opacity: 0.3 overlay on hover 
This may interfere with trying to do onclick/click events. 
*/ 






/* To Do 
JS: 
- mobile menu
- count increments number (+ shopping cart icon number). 
- ... 

*/ 




/* To do on another project: 
SCSS: 
- maybe add more variables, @each to map over lists, for loops, if else logic.... But I'm thinking maybe just leave this for another project. 
- watch this tut, then implement similar changes into my project. 
  https://www.youtube.com/watch?v=aoQ6S1a32j8

*/ 




/* Some SCSS Notes: 
nesting makes it a whole lot more readable. 
However, a lot of classes that previously didn't need nesting now need nesting e.g. media queries. line 427 for slideshow-product @ min-width: 820px. previously I wrote it like this: 
@media (min-width: 820px) {
  .slideshow-product {
    height: initial;
  }
}
now I have to write it like this: 
@media (min-width: 820px) {
  .slideshow .slideshow-image .slideshow-product {
    height: initial;
  }
}
because it's nested in the non-media query ver, the media query ver needs to be nested. 
- I could try putting the media query inside the nested element. e.g. 
    .slideshow-image {
      margin-bottom: 2.2em;
  
      .slideshow-product {
        max-width: 450px;
        border-radius: 15px;
        height: 300px;
      }
      @media (min-width: 820px) {
        .slideshow-product {
          height: initial;
        }
      }
    }

I don't need to do this for .slideshow-thumbnails, with the difference being the media query is (max-width: ...) not min-width

*/ 


