.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Resets */ 

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 16px;
}

body, h1, p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ==============
   Typography 
================= */ 

/* Colours */ 

:root {
  --orange: hsl(26, 100%, 55%); 
  --page-orange: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /* Black (with 75% opacity for lightbox background) */  
}

/* General */ 

.nav-link, .info-company, .info-title, .info-discounted-price, .info-discounted-percent, .info-original-price, .cart-toggle-value, .cart-add-to-btn {
  font-weight: 700;
}

.info-body {
  font-weight: 400;
}

@media (min-width: 600px) {
  .nav-link {
    font-weight: 400;
  }
}

.info-company {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-title {
  font-size: 1.7rem; 
}

@media (min-width: 600px) {
  .info-title {
    font-size: 2.5rem; 
  }
}

.info-discounted-price {
  font-size: 1.5rem;
}

.cart-add-to-btn {
  font-size: 1rem;
}

/* ==============
   Layout 
================= */ 