/* Resets */ 

* {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  font-size: 16px;
}

body, h1, p, ul {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* ==============
   Typography 
================= */ 

/* Colours */ 

:root {
  --orange: hsl(26, 100%, 55%); 
  --page-orange: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /* Black (with 75% opacity for lightbox background) */  
}

/* General */ 

.nav-link, .info-company, .info-title, .info-discounted-price, .info-discounted-percent, .info-original-price, .cart-toggle-value, .cart-add-to-btn {
  font-weight: 700;
}

.info-body {
  font-weight: 400;
  line-height: 1.4;
}

@media (min-width: 600px) {
  .nav-link {
    font-weight: 400;
  }
}

.info-company {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.info-title {
  font-size: 1.7rem; 
  line-height: 1.1;
}

@media (min-width: 600px) {
  .info-title {
    font-size: 2.5rem; 
  }
}

.info-discounted-price {
  font-size: 1.8rem;
}

.info-discounted-percent {
  font-size: 1rem;
}

.info-original-price {
  text-decoration: line-through;
}

.cart-add-to-btn {
  font-size: 1rem;
}

/* ==============
   Layout 
================= */ 

/* Header */ 

header {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
}

@media (min-width: 600px) {
  header {
    padding: unset;
    border-bottom: 1px solid black;
  }  
}

.logo {
  margin-top: -3px;
}

.account-avatar {
  width: 25px;
}

@media (min-width: 600px) {
  .account-avatar {
    width: 50px;
  }
}

.shopping-cart-icon {
  margin-left: auto;
}

.mobile-menu, .shopping-cart-icon {
  margin-right: 1.3em;
}

/* Nav */ 

.nav-list {
  display: flex;
  flex-direction: column;
  display: none;
}

@media (min-width: 600px) {
  .nav-list {
    display: flex;
    flex-direction: row;
  }

  .mobile-menu, .close-btn {
    display: none;
  }
}

.close-btn {
  align-self: flex-start;
}



/* Main */ 

.container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}


/* Slideshow */ 

.slideshow {
  position: relative;
}

.slideshow-product {
  display: none;
}

@media (min-width: 600px) {
  .slideshow-product {
    max-width: 470px;
  }
}

.show {
  display: block;
}

.slideshow-thumbnails {
  width: 470px;
  display: flex;
  justify-content: space-between;
}

.slideshow-thumbnail {
  width: 90px;
  height: 90px;
}

@media (max-width: 599px) {
  .slideshow-thumbnails {
    display: none;
  }
}

.slideshow-prev, .slideshow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0.7em 0.9em;
  border-radius: 50%;
}

.slideshow-prev {
  left: 0.75em;
  padding-right: 1em;
}
.slideshow-next {
  right: 0.75em;
  padding-left: 1em;
}


@media (min-width: 600px) {
  .slideshow-prev, .slideshow-next {
    display: none;
  }
}

/* Info */ 

.info {
  padding: 1em 1.5em;
}

@media (min-width: 600px) {
  .info {
    padding: unset;
  }
}

.info-title {
  margin: 0.7em 0;
}

.info-prices {
  display: flex;
  align-items: center;
  margin: 1.5em 0 1.2em;
}

@media (min-width: 600px) {
  .info-prices {
    flex-direction: column;
    align-items: flex-start;
  }
}

.info-discounted-price {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.info-discounted-percent {
  background: lightblue;
  padding: 4px 8px;
  border-radius: 7px;
}

.info-original-price {
  margin-left: auto;
}

@media (min-width: 600px) {
  .info-original-price {
    margin-left: unset;
  }
}

.info-shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 600px) {
  .info-shopping-cart {
    flex-direction: row;
  }
}

.info-cart-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: lightgray;
}

.info-cart-toggle, .cart-add-to-btn {
  width: 100%;
  border-radius: 15px;
}

@media (min-width: 600px) {
  .info-cart-toggle, .cart-add-to-btn {
    width: unset;
  }
}

.info-cart-toggle > *, .cart-add-to-btn {
  padding: 1em 1.5em;
}

.cart-add-to-btn {
  border: none;
  outline: none;
}

.cart-add-to-img {
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 1em;
}

/* Footer */ 
footer {
  margin-top: 3em;
}
/* note: this attribution is a default class */ 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



/* after finishing the css for this, copy this code into scss format. 
  this will be the start of me using scss (in recent years). 
*/ 