/* Main */ 

main {
  display: flex;
  flex-direction: column;
}

main.container {
  margin-bottom: 3em;
}

@media (min-width: 600px) {
  main {
    align-items: center;
    padding: 3em 3em 0 3em;
    gap: 3.5em;
  }
}

@media (min-width: 820px) {
  main {
    flex-direction: row;
    padding-top: 5.5em;
  }
}

@media (min-width: 1180px) {
  main {
    gap: 7.5em;
  }
}
