/* Footer */ 

/* note: this attribution is a default class */ 
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 820px) {
  body { 
    min-height:100vh; 
    position:relative; 
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
