/* General */ 

body {
  background: var(--white);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 600px) and (max-width: 1179px) {
  .container {
    margin-left: 35px;
    margin-right: 35px;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.active {
  border: 2px solid var(--orange);

  &::after {
    @include after;
    opacity: 0.7;
    background:var(--white);
    border-radius: 10px;
  }
}

.nav-link, .shopping-cart-icon, .account-avatar, .slideshow-thumbnail, .cart-toggle-minus, .cart-toggle-plus, .cart-add-to-btn, .mobile-menu, .close-btn, .slideshow-prev, .slideshow-next, .cart-checkout-btn, .cart-delete {
  cursor: pointer;
}