/* Shopping Cart */ 

.shopping-cart {
  position: absolute;
  background: var(--white);
  width: 96%;
  top: 4.1rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
  min-height: 252px;
  border-radius: 12px;
  box-shadow: 10px 10px 25px rgba(0,0,0, 0.2);

  .cart-title {
    padding: 1.3em;
    border-bottom: 1px solid var(--grayish-blue-opacity);
  }

  .cart-empty {
    display: flex;
    align-items: center;
    height: calc(100% - 80px);
  }

  .cart-body {
    padding: 1.5em;

    .cart-item {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .cart-item-img {
        width: 52px;
        border-radius: 5px;
        margin-right: 16px;
      }
      
      .cart-item-text {
        line-height: 1.7;
        margin-right: auto;
      }
    }

    .cart-checkout-btn {
      @include ctaBtn;
      padding: 1em;
      margin-top: 1.6em;
      @include hover-after(0.3, var(--white), 12px);
    }
  }
}

@media (min-width: 600px) {
  .shopping-cart {
    max-width: 360px;
    left: unset;
    top: 5.4rem;
    right: -20px;
  }
}

@media (min-width: 1250px) {
  .shopping-cart {
    right: -60px;
  }
}
